<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--MyBaits中的配置内容是有顺序的，settings在environments前面-->
    <settings>
        <!--使用LOG4J日志库-->
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.h2.Driver"/>
                <property name="url" value="jdbc:h2:file:D:\javaWorks\practise-select-sql/target/test"/>
                <property name="username" value="root"/>
                <property name="password" value="Jxi1Oxc92qSj"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="com.github.hcsp.sql.Sql$UserMapper" />
    </mappers>

</configuration>